<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>about me</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral:300,300i,400,400i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/-Identity-Page-BS4-.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="assets/css/stylesAbout.css">
    <link rel="stylesheet" href="assets/css/WOWSlider-about-us-1.css">
    <link rel="stylesheet" href="assets/css/WOWSlider-about-us-2.css">
    <link rel="stylesheet" href="assets/css/WOWSlider-about-us.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height: 80px;background-color: #37434d;color: #ffffff;width: 100%;margin: 0px;padding: 15px;">
            <div class="container-fluid"><a class="navbar-brand" href="/"><i class="fas fa-hamburger"></i>&nbsp;Food Temptation</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                       
                        <li class="nav-item" role="presentation"><a class="nav-link" style="color:#ffffff;" href="/"><i class="fas fa-home" style="width: 19px;"></i>Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" style="color:#ffffff;" href="/recipes"><i class="fas fa-hamburger" style="width: 19px;"></i>Recipes</a></li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <div class="container-fluid">
        <div class="row flex-lg-row-reverse mh-100vh">
            <div class="col-lg-6 d-flex align-items-end mh-50vh" style="background-image:url(assets/img/dp.jpg); background-size:cover;">
                <p class="ml-auto small text-white"></p>
            </div>
            <div class="col-lg-6 d-lg-flex align-items-lg-center text-center px-sm-5 py-5 shadow">
                <div>
                    <h1 class="text-secondary font-weight-light">Nischal Kanishk</h1>
                    <h2 class="spectral text-color font-weight-light" style="font-size: 31px;"><em>Gamer Programmer Copywriter</em></h2>
                    <hr class="my-5">
                    <p class="text-break text-left text-secondary spectral font20">Technical Skills:<br>Express, NodeJs, Js, PassportJs, RESTful routing, API, MongoDB, HTML, CSS, DOM, jQuery, Bootstrap.<br>I have knowledge in designing things using Illustrator and Photoshop, bundled up with video editing with After
                        Effects.<br><br>I am a 2nd-year Computer Science engineering student, passionate&nbsp;about writing and gaming. Writing remained my hobby for long and I thought of converting it into professional. Also talking about technical skills,
                        I have got good knowledge about Web development. Full-stack development is my key point. Other than these I am a good photographer. I have some life experience that helps me write a motivating type of content. Motivating people
                        is also my skill which not everyone possesses. Also being talkative I can keep people busy talking to them. I possess a trait that is humour, which is also a plus point for me. Building connections has always been my type of thing.
                        Talking about sports, I have the most interest in football, Real Madrid being my favourite team. I also play football occasionally,&nbsp;because of time constraints.<br><br>Other than these, I aspire to become a rider, and also
                        ride on India’s best track, that is BIC, at least once. Travelling has also been my cup of tea, and I have been traveling since my childhood. I have a good taste in music, old songs, EDM songs and silent songs are the ones I prefer.
                        To be more specific I like listening to Chainsmokers and Avicii.<br></p>
                    <hr class="mt-5 mb-4">
                    <div class="social-icons text-center"><a class="d-inline-block" data-toggle="tooltip" data-original-title="Instagram" href="#"><i class="icon ion-social-instagram-outline"></i></a><a class="d-inline-block" data-toggle="tooltip" data-original-title="Snapchat" href="#"><i class="icon-social-linkedin"></i></a>
                        <a
                            class="d-inline-block" data-toggle="tooltip" data-original-title="Facebook" href="#"></a><a class="d-inline-block" data-toggle="tooltip" data-original-title="Twitter" href="#"><i class="icon ion-social-twitter"></i></a><a class="d-inline-block" data-toggle="tooltip" data-original-title="Resume" href="#"><i class="icon ion-social-github-outline"></i></a>
                            <a
                                class="d-inline-block" data-toggle="tooltip" data-original-title="Email me" href="mailto:email@email.com"><i class="icon-social-google"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="about-us"></section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/-Identity-Page-BS4-.js"></script>
    <script src="assets/js/WOWSlider-about-us.js"></script>
</body>

</html>